<html>
<head>
  <link href="https://unpkg.com/tailwindcss@%5E2/dist/tailwind.min.css" rel="stylesheet">
  <meta charset="utf-8">
  <title></title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <div class="flex bg-white-200">
    <div class="italic ... flex-1 text-white text-left bg-gray-400 py-2">
      <p class="text-5xl ...">スケアプ-予定がまいりま～す</p>
    </div>
    <div class="flex-1 text-white-700 text-left bg-white-400 px-4 py-2 m-2"></div>
  </div>
  <div class="bg-grey-200 p-4">
    <span class="block text-white-700 text-center bg-white-400 "></span>
  <biv class="flex bg-gray-200">
    <div class="flex-1 text-white text-center bg-blue-900"><p class="text-1xl ...">{{user_name}}様</p></div>
    <div class="flex-1 text-white-700 text-center bg-gray-400"><p class="text-3xl ...">予定</p></div>
    <div class="flex-1 text-center bg-gray-400"><p class="text-3xl ...">残りの日数</p></div>
    <div class="flex-1 text-center bg-gray-400"><p class="text-3xl ...">重要度</p></div> 
  </biv> 
  <biv class="flex bg-gray-200">
    <div class="flex-1 text-white text-center bg-blue-900"><p class="text-5xl ...">{{tuki}}/{{hi}}</p></div>
    <div class="flex-1 text-white-700 text-center bg-white-400 "><p class="text-4xl ...">{{schedule1.subject}}</p></div>
    <div class="flex-1 text-center bg-white-400"><p class="text-4xl ...">{{schedule1.diff}}</p></div>
    <div class="flex-1  text-center bg-white-400">
      {% if schedule1.importance == 1 %}
        <p class="text-4xl text-red-500">特急</p>
      {% elif schedule1.importance == 2 %}
        <p class="text-4xl text-yellow-500">快速</p>
      {% elif schedule1.importance == 3 %}
        <p class="text-4xl text-green-500">普通</p>
      {% endif %}
    </div> 
  </biv> 
  <biv class="flex bg-gray-200">
    <div class="flex-1 text-white text-center bg-blue-900"><p class="text-5xl ...">{{youbi}}</p></div>
    <div class="flex-1 text-center bg-white-400 "><p class="text-4xl ...">{{schedule2.subject}}</p></div>
    <div class="flex-1 text-center bg-white-400"><p class="text-4xl ...">{{schedule2.diff}}</p></div>
    <div class="flex-1 text-red-500 text-center bg-white-400">
      {% if schedule2.importance == 1 %}
        <p class="text-4xl text-red-500">特急</p>
      {% elif schedule2.importance == 2 %}
        <p class="text-4xl text-yellow-500">快速</p>
      {% elif schedule2.importance == 3 %}
        <p class="text-4xl text-green-500">普通</p>
      {% endif %}
    </div> 
  </biv> 
  <biv class="flex bg-gray-200">
    <div class="flex-1 text-white text-center bg-blue-900"><p class="text-5xl ...">　</p></div>
    <div class="flex-1 text-white-700 text-center bg-white-400 "><p class="text-4xl ...">{{schedule3.subject}}</p></div>
    <div class="flex-1 text-center bg-white-400"><p class="text-4xl ...">{{schedule3.diff}}</p></div>
    <div class="flex-1 text-red-500 text-center bg-white-400">
      {% if schedule3.importance == 1 %}
        <p class="text-4xl text-red-500">特急</p>
      {% elif schedule3.importance == 2 %}
        <p class="text-4xl text-yellow-500">快速</p>
      {% elif schedule3.importance == 3 %}
        <p class="text-4xl text-green-500">普通</p>
      {% endif %}
    </div> 
  </biv> 
  <biv class="flex bg-gray-200">
    <div class="flex-1 text-white text-center bg-blue-900"><p class="text-5xl ...">　</p></div>
    <div class="flex-1 text-white-700 text-center bg-white-400 "><p class="text-4xl ...">{{schedule4.subject}}</p></div>
    <div class="flex-1 text-center bg-white-400"><p class="text-4xl ...">{{schedule4.diff}}</p></div>
    <div class="flex-1  text-center bg-white-400">
      {% if schedule4.importance == 1 %}
        <p class="text-4xl text-red-500">特急</p>
      {% elif schedule4.importance == 2 %}
        <p class="text-4xl text-yellow-500">快速</p>
      {% elif schedule4.importance == 3 %}
        <p class="text-4xl text-green-500">普通</p>
      {% endif %}
    </div> 
  </biv> 
  <biv class="flex bg-gray-200">
    <div class="flex-1 text-white text-center bg-blue-900"><p class="text-5xl ...">　</p></div>
    <div class="flex-1  text-center bg-white-400 "><p class="text-4xl ...">{{schedule5.subject}}</p></div>
    <div class="flex-1 text-center bg-white-400"><p class="text-4xl ...">{{schedule5.diff}}</p></div>
    <div class="flex-1  text-center bg-white-400">
      {% if schedule5.importance == 1 %}
        <p class="text-4xl text-red-500">特急</p>
      {% elif schedule5.importance == 2 %}
        <p class="text-4xl text-yellow-500">快速</p>
      {% elif schedule5.importance == 3 %}
        <p class="text-4xl text-green-500">普通</p>
      {% endif %}
    </div> 
  </biv>
</div>
<div>
  <button class="bg-teal-600 hover:bg-teal-800 text-white font-bold py-2 px-4 rounded" >
    <a href='regist'>予定の登録</a>
  </button>
  <button class="bg-teal-600 hover:bg-teal-800 text-white font-bold py-2 px-4 rounded" >
    <a href='logout'>ログアウト</a>
  </button>
</div>
{{src}}
</body>
</html>